@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .dashboard {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
        }
        .box {
            width: 250px;
            height: 100px;
            margin: 5px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
        }
.box.red {
            background-color: #e74c3c;
        }
.box.orange {
            background-color: #f39c12;
        }
.box.blue {
            background-color: #3498db;
        }
.box.green {
            background-color: #2ecc71;
        }
        .box h3 {
            margin: 0;
            font-size: 1.5em;
        }
        .box p {
            margin: 5px 0 0;
        }
        .box a {
            margin-top: 10px;
            color: white;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <body>
        
           
          <div class="box red">
                        <h3>0</h3>
                        <p>New Issues</p>
                        <a href="#">View Details</a>
          </div>
               
            
            <div class="box orange">
                        <h3>0</h3>
                        <p>Pending Issues</p>
                        <a href="#">View Details</a>
             </div>
         
             
             <div class="box blue">
                        <h3>0</h3>
                        <p>Assigned Issues</p>
                        <a href="#">View Details</a>
             </div>
               
  
              <div class="box green">
                        <h3>1</h3>
                        <p>In Progress Issues</p>
                        <a href="#">View Details</a>
               </div>
              
         
    </body>
</html>


<table id="issueTable" class="display">
    <thead>
        <tr>
            <th>Issue</th>
            <th> Pos.Id</th>
            <th> Pos.Name</th>
            <th> Created By</th>
            <th> Date</th>
            <th> Issue Type</th>
            <th> Status</th>
            <th> Assigned To</th>
            <th> Memo</th>

        </tr>
    </thead>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {

            let columns = [
                { "data": "Id", "name": "Issue", "autoWidth": true },
                { "data": "IdPos", "name": " Pos.Id", "autoWidth": true },
                { "data": "PosName", "name": " Pos.Name", "autoWidth": true },
                { "data": "UserName", "name": "Created By", "autoWidth": true },
                { "data": "CreationDate", "name": "Date", "autoWidth": true },
                { "data": "IssueType", "name": "Issue Type", "autoWidth": true },
                { "data": "Status", "name": "Status", "autoWidth": true },
                { "data": "UserType", "name": "Assigned To", "autoWidth": true },
                { "data": "Memo", "name": "Memo", "autoWidth": true },

            ];


            bindDataTable("#issueTable", "/issue/QueryIssue", columns)
            bindDataTableDblClick("#issueTable", "/issue/EditIssue/")



        });
    </script>
}
