
@{
    ViewBag.Title = "BrowseIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BrowseIssue</h2>


<table id="issueTable" class="display">
    <thead>
        <tr>
            <th>Issue</th>
            <th> Pos.Id</th>
            <th> Pos.Name</th>
            <th> Created By</th>
            <th> Date</th>
            <th> Issue Type</th>
            <th> Status</th>
            <th> Assigned To</th>
            <th> Memo</th>
        </tr>
    </thead>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            let columns = [
                { "data": "Id", "name": "Issue", "autoWidth": true },
                { "data": "IdPos", "name": " Pos.Id", "autoWidth": true },
                { "data": "PosName", "name": " Pos.Name", "autoWidth": true },
                { "data": "UserName", "name": "Created By", "autoWidth": true },
                { "data": "CreationDate", "name": "Date", "autoWidth": true },
                { "data": "IssueType", "name": "Issue Type", "autoWidth": true },
                { "data": "Status", "name": "Status", "autoWidth": true },
                { "data": "UserType", "name": "Assigned To", "autoWidth": true },
                { "data": "Memo", "name": "Memo", "autoWidth": true }
            ];

            bindDataTable("#issueTable", "/issue/QueryIssue", columns)
            
        });
    </script>
}