
@{
    ViewBag.Title = "BrowsePos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BrowsePos</h2>



<table id="posTable" class="display">
    <thead>
        <tr>
            <th> Pos Id</th>
            <th> Pos Name</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
    </thead>
</table>



<div id="modal-placeholder"></div>

<div>
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("EditPosPartialView")">
        Edit
    </button>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {

            let columns = [
                { "data": "Id", "name": " Pos Id", "autoWidth": true },
                { "data": "Name", "name": " Pos Name", "autoWidth": true },
                { "data": "Telephone", "name": "Telephone", "autoWidth": true },
                { "data": "Address", "name": "Address", "autoWidth": true },
                { "data": "Status", "name": "Status", "autoWidth": true }
            ];

            bindDataTable("#posTable", "/pos/QueryPos", columns)
            //bindDataTableDblClick("#posTable","/pos/EditPos/"


            var placeholderElement = $('#modal-placeholder');
            $('button[data-toggle="ajax-modal"]').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    placeholderElement.html(data);
                    placeholderElement.find('.modal').modal('show');
                });

            });

            placeholderElement.on('click', '[data-save="modal"]', function (event) {
                event.preventDefault();

                var form = $(this).parents('.modal').find('form');
                var actionUrl = form.attr('action');
                var dataToSend = form.serialize();

                $.post(actionUrl, dataToSend).done(function (data) {
                    placeholderElement.find('.modal').modal('hide');
                });
            });

            var table = new DataTable('#posTable');
            table.on('click', 'tbody tr', (e) =>
            {
                    let classList = e.currentTarget.classList;

                    if (classList.contains('selected')) {
                        classList.remove('selected');
                    }
                    else {
                        table.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
                        classList.add('selected');
                    }

                //let data = table.row(this).data();
                //let url = '/EditPosPartialView/' + data.Id;

                //$.ajax({
                //    url: url,
                //    type: 'GET',
                //    success: function (response) {
                //        // Manipulăm răspunsul (de exemplu, deschidem modalul pentru editare)
                //        $('#editModalContent').html(response); // Exemplu: Injectăm HTML-ul primit într-un modal
                //        $('#editModal').modal('show'); // Exemplu: Afișăm modalul de editare
                //    },
                //    error: function (xhr, status, error) {
                //        console.error('Eroare în timpul cererii AJAX:', error);
                //        // Poți trata eroarea sau afișa un mesaj utilizatorului
                //    }
             });
            
        });

       

      
        

       
    </script>
}