
@{
    ViewBag.Title = "BrowsePos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BrowsePos</h2>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>





<table id="posTable" class="display">
    <thead>
        <tr>
            <th> Pos Id</th>
            <th> Pos Name</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
    </thead>
</table>



<div id="modal-placeholder"></div>

<div style="margin-top: 20px;">
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("EditPosPartialView")" data-pos-id="">
        Edit
    </button>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {

            let columns = [
                { "data": "Id", "name": " Pos Id", "autoWidth": true },
                { "data": "Name", "name": " Pos Name", "autoWidth": true },
                { "data": "Telephone", "name": "Telephone", "autoWidth": true },
                { "data": "Address", "name": "Address", "autoWidth": true },
                { "data": "Status", "name": "Status", "autoWidth": true }
            ];

            bindDataTable("#posTable", "/pos/QueryPos", columns)
            //bindDataTableDblClick("#posTable","/pos/EditPos/"


            var table = $('#posTable').DataTable({
                "columns": columns
            });

            $('#posTable tbody').on('click', 'tr', function () {
                if (!$(this).hasClass('selected')) {
                    // Deselect all rows
                    $('#posTable tbody tr.selected').removeClass('selected');

                    // Select the clicked row
                    $(this).addClass('selected');

                    // Get data of the selected row
                    var rowData = table.row(this).data();
                    if (rowData) {
                        var posId = rowData.Id;
                        alert("PosId: " + posId);
                        $('[data-toggle="ajax-modal"]').attr('data-pos-id', posId);
                    }
                }
            });


            $('[data-toggle="ajax-modal"]').click(function () {
                let posId = $(this).data('pos-id');
                $.ajax({
                    url: $(this).data('url'),
                    type: 'GET',
                    data: { posId: posId },
                    success: function (data) {
                        $('#modal-placeholder').html(data);
                        $('#modal-placeholder .modal').modal('show');
                    },
                    error: function () {
                        alert('Error retrieving data.');
                    }
                });
            });






        });



    </script>
}