
@{
    ViewBag.Title = "BrowsePos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BrowsePos</h2>

<div id="modalContainer">
    @Html.Partial("_ModalPartial")
</div>

<table id="posTable" class="display">
    <thead>
        <tr>
            <th> Pos Id</th>
            <th> Pos Name</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
    </thead>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {

            let columns = [
                { "data": "Id", "name": " Pos Id", "autoWidth": true },
                { "data": "Name", "name": " Pos Name", "autoWidth": true },
                { "data": "Telephone", "name": "Telephone", "autoWidth": true },
                { "data": "Address", "name": "Address", "autoWidth": true },
                { "data": "Status", "name": "Status", "autoWidth": true }
            ];

            bindDataTable("#posTable", "/pos/QueryPos", columns)
            //bindDataTableDblClick("#posTable","/pos/EditPos/" )
        });

        const table = new DataTable('#posTable');

        table.on('click', 'tbody tr', (e) => {
            let classList = e.currentTarget.classList;

            if (classList.contains('selected')) {
                classList.remove('selected');
            }
            else {
                table.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
                classList.add('selected');
            }
        });

       
    </script>
}